.friendList {
  margin: 0;
  background-color: rgb(51, 133, 133);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: brown;
}

.status {
  display: flex;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.item {
  display: flex;
  width: 150px;
  gap: 10px;
  border: 1px solid black;
  box-shadow: 2px 5px rgb(37, 89, 89);
  border-radius: 15px;
  padding: 30px;
}

.item:hover,
.item:focus {
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s linear;
}
